.location-wrapper {
  margin: 0 auto;
  margin-bottom: 40px;
}

.location-wrapper .location,
.location-wrapper .nolocation {
  text-align: center;
}

.location-wrapper .location {
  font-size: 2em;
}

.location-wrapper .nolocation {
  font-size: 1.5em;
  line-height: 1.4em;
}
