.weather-details {
  display: flex;
  margin: 0 auto;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  min-width: unset;
}

.weather-details > div {
  margin-bottom: 20px;
}

.weather-details .temperature-wrapper {
  font-family: 'Create Round', sans-serif;
  font-size: 6em;
}

.weather-details .summary-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.weather-details .summary-wrapper p span:first-child::after {
  content: ' ';
}

.weather-details .summary-wrapper {
  font-size: 1.5em;
  line-height: 1.4em;
}

.humidity::after {
  content: '%';
}

@media screen and (min-width: 768px) {
  .weather-details {
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    align-items: center;
    min-width: 800px;
  }

  .weather-details .summary-wrapper {
    align-items: flex-start;
  }
}